.TableContainer {
}

.Table {
}

.TableHeader {
    min-width: 100px;
    font-family: monospace;
    font-weight: bold;
    font-size: 12px;
}

.TableRow {

}

.MuiIconButton-root {
    padding: 0 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
